<div class="diagram-parent">
    <app-token-diagram></app-token-diagram>
</div>
<div class="modeler-buttons top-margin">
    <button
        class="right-margin"
        mat-raised-button
        color="primary"
        matTooltip="Upload BPMN token model."
    >
        <mat-icon>upload</mat-icon>
        Upload model
    </button>
    <button
        class="right-margin"
        mat-raised-button
        color="primary"
        matTooltip="Download BPMN token model."
    >
        <mat-icon>download</mat-icon>
        Download model
    </button>
    <button
        class="right-margin"
        mat-raised-button
        color="primary"
        matTooltip="Save the process state."
    >
        <mat-icon>save</mat-icon>
        Save process state
    </button>
</div>
