<mat-card class='card'>
  <mat-card-header>
    <mat-card-title>BPMN Analyzer</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class='diagram-parent'>
      <app-diagram
        [url]='diagramUrl'
        (importDone)='handleImported($event)'
      ></app-diagram>

      <div class='import-error' *ngIf='importError'>
        <strong>Failed to render diagram: </strong>
        {{ importError.message }}
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color='primary'
            matTooltip='Upload a BPMN model contained in a BPMN-file.'
            (click)='uploader.click()'>
      <mat-icon>upload</mat-icon>
      Upload BPMN model
    </button>
    <button
      mat-raised-button
      matTooltip='Download the BPMN model as a BPMN-file.'
      color='primary'
      (click)='downloadBPMNClicked()'
    >
      <mat-icon>download</mat-icon>
      Download BPMN model
    </button>
    <button mat-raised-button color='primary'
            matTooltip='Download a groove graph grammar.'
            (click)='downloadGGClicked()'>
      <mat-icon>cloud_download</mat-icon>
      Download graph grammar
    </button>
    <button mat-icon-button aria-label="Graph grammar download info button" color='accent' (click)='ggInfoClicked()'>
      <mat-icon>info</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
  <mat-card-header>
    <mat-card-title>Verification</mat-card-title>
  </mat-card-header>
  <mat-tab-group animationDuration='0ms'>
    <mat-tab label='General properties'>
      <mat-card-content class='top-margin'>
        Select one or more of the following general properties to check for the BPMN model.
        <br>
        <mat-button-toggle-group name='properties' [(ngModel)]='generalProperties' aria-label='General Properties'
                                 multiple class='top-margin'>
          <mat-button-toggle value='completion'>Completion</mat-button-toggle>
          <mat-button-toggle value='prop2'>Prop2</mat-button-toggle>
          <mat-button-toggle value='prop3'>Prop3</mat-button-toggle>
        </mat-button-toggle-group>
        <br>
        <button mat-raised-button color='primary'
                matTooltip='Checking general properties is not implemented yet.'
                class='top-margin'
                disabled
                (click)='checkGeneralPropertiesClicked()'
        >
          <mat-icon>done_all</mat-icon>
          Check selected properties
        </button>
      </mat-card-content>
    </mat-tab>
    <mat-tab label='LTL properties'>
      <mat-card-content class='top-margin'>
        Specify a LTL property to check for the BPMN model.
        <br>
        <form class='form top-margin'>
          <mat-form-field class='full-width' appearance='fill'>
            <mat-label>LTL Property</mat-label>
            <textarea matInput [(ngModel)]='ltlProperty' placeholder='G(F(AllTerminated))'
                      name='ltlProperty'></textarea>
          </mat-form-field>
        </form>
        <button mat-raised-button color='primary'
                matTooltip='Checking custom LTL properties is not implemented yet.'
                disabled
                (click)='checkLTLPropertyClicked()'>
          <mat-icon>check</mat-icon>
          Check LTL property
        </button>
        <button mat-icon-button aria-label="LTL syntax info button" color='accent' (click)='ltlInfoClicked()'>
          <mat-icon>info</mat-icon>
        </button>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<input hidden type='file' #uploader (change)='uploadFile($event)' />
