<mat-card>
  <mat-card-header>
    <mat-card-title>BPMN Analyzer</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="diagram-parent">
      <app-diagram [url]="diagramUrl" (importDone)="handleImported($event)"></app-diagram>

      <div class="import-error" *ngIf="importError">
        <strong>Failed to render diagram: </strong>
        {{ importError.message }}
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="uploader.click()">
      <mat-icon>upload</mat-icon>
      Upload BPMN model
    </button>
    <button mat-raised-button color="primary" (click)="downloadBPMNClicked()">
      <mat-icon>download</mat-icon>
      Download BPMN model
    </button>
    <button mat-raised-button color="primary" (click)="downloadGGClicked()">
      <mat-icon>cloud_download</mat-icon>
      Download graph grammar
    </button>
  </mat-card-actions>
</mat-card>
<input
  hidden
  type="file"
  #uploader
  (change)="uploadFile($event)"
/>

