.diagram-parent {
  height: 400px;
  border: solid 3px #eee;
  position: relative;
  resize: both;
  overflow: auto;
  max-height: fit-content;
  max-width: fit-content;
}

.import-error {
  color: red;
  padding: 20px;

  position: absolute;
  top: 0;
  left: 0;
}

.card {
  margin-bottom: 20px;
}

.top-margin {
  margin-top: 10px;
}

.form {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-flex-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}


