<mat-card appearance="outlined" class='card'>
  <mat-card-header>
    <mat-card-title>BPMN Analyzer</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class='diagram-parent'>
      <app-diagram
        [url]='diagramUrl'
        (importDone)='handleImported($event)'
      ></app-diagram>
      <div class='import-error' *ngIf='importError'>
        <strong>Failed to render diagram: </strong>
        {{ importError.message }}
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      class="right-margin"
      mat-raised-button color='primary'
      matTooltip='Upload a BPMN model contained in a BPMN-file.'
      (click)='uploader.click()'>
      <mat-icon>upload</mat-icon>
      Upload BPMN model
    </button>
    <button
      class="right-margin"
      mat-raised-button
      matTooltip='Download the BPMN model as a BPMN-file.'
      color='primary'
      (click)='downloadBPMNClicked()'
    >
      <mat-icon>download</mat-icon>
      Download BPMN model
    </button>
    <button mat-raised-button color='primary'
            matTooltip='Download a groove graph grammar.'
            (click)='downloadGGClicked()'>
      <mat-icon>cloud_download</mat-icon>
      Download graph grammar
    </button>
    <button mat-icon-button aria-label='Graph grammar download info button' color='primary' (click)='ggInfoClicked()'
            matTooltip='Further graph grammar information.'>
      <mat-icon>info</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
<mat-card appearance="outlined" class="card">
  <mat-card-header>
    <mat-card-title>Verification</mat-card-title>
  </mat-card-header>
  <mat-tab-group animationDuration='0ms'>
    <mat-tab label='BPMN-specific properties'>
      <mat-card-content class='top-margin'>
        Select one or more of the following properties to check for the BPMN model.
        <br>
        <mat-button-toggle-group name='bpmnProperties' [(ngModel)]='bpmnSpecificPropertiesToBeChecked'
                                 aria-label='BPMN-specific Properties'
                                 multiple class='top-margin'>
          <mat-button-toggle value='SAFENESS'
                             matTooltip='Safeness means that during process execution no more than one token occurs along the same sequence flow.'>
            Safeness
          </mat-button-toggle>
          <mat-button-toggle value='OPTION_TO_COMPLETE'
                             matTooltip='Option to complete means that any running process instance must eventually complete.'>
            Option to complete
          </mat-button-toggle>
          <mat-button-toggle value='NO_DEAD_ACTIVITIES'
                             matTooltip='Check if any activities will never be executed.'>
            No dead activities
          </mat-button-toggle>
        </mat-button-toggle-group>
        <br>
        <button mat-raised-button color='primary'
                matTooltip='Checking BPMN-specific properties is not implemented in the web interface yet due to the following bug in Groove https://sourceforge.net/p/groove/bugs/499/.'
                class='top-margin'
                (click)='checkBPMNSpecificPropertiesClicked()'
        >
          <mat-icon>done_all</mat-icon>
          Check selected properties
        </button>
      </mat-card-content>
    </mat-tab>
    <mat-tab label='LTL properties'>
      <mat-card-content class='top-margin'>
        Specify a LTL property to check for the BPMN model.
        <br>
        <form class='form top-margin'>
          <mat-form-field class='full-width' appearance='fill'>
            <mat-label>LTL Property</mat-label>
            <textarea matInput [(ngModel)]='ltlProperty' placeholder='G(F(AllTerminated))'
                      name='ltlProperty'></textarea>
          </mat-form-field>
        </form>
        <button mat-raised-button color='primary'
                matTooltip='Checking custom LTL properties is not implemented in the web interface yet due to the following bug in Groove https://sourceforge.net/p/groove/bugs/499/.'
                disabled
                (click)='checkLTLPropertyClicked()'>
          <mat-icon>check</mat-icon>
          Check LTL property
        </button>
        <button mat-icon-button aria-label='LTL syntax info button' color='primary' (click)='ltlInfoClicked()'
                matTooltip='Show LTL syntax.'>
          <mat-icon>info</mat-icon>
        </button>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<verification-result-component [running]="bpmnSpecificVerificationRunning"
                               [properties]="bpmnPropertyCheckingResults"></verification-result-component>
<input hidden type='file' #uploader (change)='uploadFile($event)'/>
