@use '@angular/material' as mat;

html {
    @include mat.theme(
        (
            color: (
                theme-type: light,
                primary: mat.$azure-palette,
                tertiary: mat.$rose-palette,
            ),
            typography: Roboto,
            density: 0,
        )
    );
}

html.dark-theme {
    @include mat.theme(
        (
            color: (
                theme-type: dark,
                primary: mat.$azure-palette,
                tertiary: mat.$rose-palette,
            ),
            typography: Roboto,
            density: 0,
        )
    );
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html.dark-theme body {
    background-color: #303030;
    color: #ffffff;
}

.margin-top {
    margin-top: 10px;
}

.right-margin {
    margin-right: 4px;
}

.modeler-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
