/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.margin-top {
    margin-top: 10px;
}

.right-margin {
    margin-right: 0.25%;
}
