<div class="token-file-container">
    <div class="diagram-parent">
        <app-token-diagram></app-token-diagram>
    </div>
    <mat-list class="files">
        <div mat-subheader>Propositions</div>
        <mat-list-item
            *ngFor="let proposition of propositions"
            [ngClass]="{
                highlight: proposition === currentProposition,
                proposition: proposition !== currentProposition
            }"
            (click)="switchToProposition(proposition)"
        >
            <mat-icon matListItemIcon>description</mat-icon>
            <mat-icon
                matListItemIcon
                class="order editButton"
                (click)="this.editProposition(proposition)"
                >edit</mat-icon
            >
            <div matListItemTitle>
                {{ proposition.name }}
            </div>
        </mat-list-item>
    </mat-list>
</div>
<div class="modeler-buttons top-margin">
    <button
        class="right-margin"
        mat-raised-button
        color="primary"
        matTooltip="Upload BPMN token model."
        (click)="uploader.click()"
    >
        <mat-icon>upload</mat-icon>
        Upload model
    </button>
    <button
        class="right-margin"
        mat-raised-button
        color="primary"
        matTooltip="Download BPMN token model."
        (click)="downloadTokenModel()"
    >
        <mat-icon>download</mat-icon>
        Download model
    </button>
    <button
        class="right-margin"
        mat-raised-button
        color="primary"
        matTooltip="Save the process state."
        (click)="createNewProposition()"
    >
        <mat-icon>add</mat-icon>
        New proposition
    </button>
</div>
<input hidden type="file" #uploader (change)="uploadTokenModel($event)" />
