<div class="token-file-container">
    <div class="diagram-parent">
        <app-token-diagram></app-token-diagram>
    </div>
    <mat-list class="files">
        <div mat-subheader>Propositions</div>
        <mat-list-item *ngFor="let file of propositions">
            <mat-icon matListItemIcon>description</mat-icon>
            <div matListItemTitle>{{ file.name }}</div>
            <div matListItemLine>{{ file.updated | date: 'shortTime' }}</div>
        </mat-list-item>
    </mat-list>
</div>
<div class="modeler-buttons top-margin">
    <button
        class="right-margin"
        mat-raised-button
        color="primary"
        matTooltip="Upload BPMN token model."
    >
        <mat-icon>upload</mat-icon>
        Upload model
    </button>
    <button
        class="right-margin"
        mat-raised-button
        color="primary"
        matTooltip="Download BPMN token model."
    >
        <mat-icon>download</mat-icon>
        Download model
    </button>
    <button
        class="right-margin"
        mat-raised-button
        color="primary"
        matTooltip="Save the process state."
        (click)="newProcessState()"
    >
        <mat-icon>add</mat-icon>
        New proposition
    </button>
</div>
