.proposition:hover {
    background: rgba(0, 0, 0, 0.04);
}

:host-context(.dark-theme) .proposition:hover {
    background: rgba(255, 255, 255, 0.08);
}

.highlight {
    background: #dddddd;
}

:host-context(.dark-theme) .highlight {
    background: #444444;
}

.diagram-parent {
    height: 750px;
    border: solid 3px #eee;
    position: relative;
    resize: both;
    overflow: auto;
    max-height: 100%;
    width: 80%;
    max-width: 90%;
}

:host-context(.dark-theme) .diagram-parent {
    border-color: #555555;
}

.propositions-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.propositions {
    width: 20%;
    max-width: 20%;
}

.order {
    order: 1;
}

.editButton:hover {
    cursor: pointer;
}

.edit-icon-margin {
    margin-right: -1px;
}

.delete-icon-margin {
    margin-right: -1px;
}
