.top-margin {
  margin-top: 20px;
}

.bold {
  font-weight: bolder;
}

.form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
  margin-top: 10px;
}

.full-width {
  width: 100%;
}

.diagram-parent {
  height: 400px;
  border: solid 3px #eee;
  position: relative;
  resize: both;
  overflow: auto;
  max-height: 100%;
  max-width: 100%;
}

.analysis-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
