.top-margin {
  margin-top: 10px;
}

.bold {
  font-weight: bolder;
}

.form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
  margin-top: 10px;
}

.full-width {
  width: 100%;
}

.analysis-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
