Temporal logic model checking is executed in groove. Thus the groove syntax for
temporal logic has to be used.
<ul>
    <li>A for all future paths (CTL)</li>
    <li>E for some paths (CTL)</li>
    <li>U for until</li>
    <li>X for next</li>
    <li>W for weak until</li>
    <li>G for always (globally)</li>
    <li>F for finally</li>
    <li>Boolean operators: &, |, !, ->, <-, <->, true and false.</li>
</ul>
A full description can be found in chapter 4.2 of the groove user manual
available <a href="https://groove.ewi.utwente.nl/doc">here</a>.
