<mat-stepper
    #stepper
    animationDuration="0"
    (selectionChange)="stepChanged($event)"
    data-testid="stepper"
>
    <mat-step label="Model your BPMN process">
        <app-modeling></app-modeling>
        <mat-divider class="margin-top"></mat-divider>
        <div class="step-buttons">
            <button
                mat-raised-button
                color="primary"
                matStepperNext
                data-testid="step1-next-btn"
            >
                <mat-icon iconPositionEnd>navigate_next</mat-icon>
                Next Step
            </button>
        </div>
    </mat-step>
    <mat-step label="Add BPMN propositions" optional>
        <app-proposition #proposition></app-proposition>
        <mat-divider class="margin-top"></mat-divider>
        <div class="step-buttons">
            <button
                mat-raised-button
                color="primary"
                class="right-margin"
                matStepperPrevious
                data-testid="step2-prev-btn"
            >
                <mat-icon>navigate_before</mat-icon>
                Previous Step
            </button>
            <button
                mat-raised-button
                color="primary"
                matStepperNext
                data-testid="step2-next-btn"
            >
                <mat-icon iconPositionEnd>navigate_next</mat-icon>
                Next Step
            </button>
        </div>
    </mat-step>
    <mat-step label="Analyze your BPMN process">
        <app-analysis></app-analysis>
        <mat-divider class="margin-top"></mat-divider>
        <div class="step-buttons">
            <button
                mat-raised-button
                color="primary"
                class="right-margin"
                matStepperPrevious
                data-testid="step3-prev-btn"
            >
                <mat-icon>navigate_before</mat-icon>
                Previous Step
            </button>
            <button
                mat-raised-button
                color="primary"
                (click)="stepper.reset()"
                data-testid="back-to-start-btn"
            >
                <mat-icon>restart_alt</mat-icon>
                Back to the start
            </button>
        </div>
    </mat-step>
</mat-stepper>
