.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}

.right-margin {
    margin-right: 0.25%;
}

.top-margin {
    margin-top: 10px;
}

.step-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
