<app-diagram [propertiesPanel]="true"></app-diagram>
<div class="modeler-buttons margin-top">
    <button
        class="right-margin"
        mat-raised-button
        color="primary"
        matTooltip="Upload a BPMN model contained in a BPMN-file."
        (click)="uploader.click()"
    >
        <mat-icon>upload</mat-icon>
        Upload model
    </button>
    <button
        class="right-margin"
        mat-raised-button
        matTooltip="Download the BPMN model as a BPMN-file."
        color="primary"
        (click)="downloadBPMN()"
    >
        <mat-icon>download</mat-icon>
        Download model
    </button>
    <button
        mat-raised-button
        color="primary"
        matTooltip="Download an SVG of the BPMN token model."
        (click)="downloadSVG()"
    >
        <mat-icon>download</mat-icon>
        Download SVG
    </button>
</div>
<input hidden type="file" #uploader (change)="uploadBPMN($event)" />
