.diagram-container {
  height: 100%;
  width: 100%;
}

.properties-panel-parent {
  width: 20%;
  border-left: solid 3px #eee;
}

.diagram-parent {
  height: 750px;
  border: solid 3px #eee;
  position: relative;
  resize: both;
  overflow: auto;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  display: flex;
}
