.diagram-parent {
    height: 800px;
    border: solid 3px #eee;
    position: relative;
    resize: both;
    overflow: auto;
    max-height: 100%;
    max-width: 100%;
}

.import-error {
    color: red;
    padding: 20px;

    position: absolute;
    top: 0;
    left: 0;
}

.top-margin {
    margin-top: 10px;
}

.card {
    margin-bottom: 20px;
}

.right-margin {
    margin-right: 0.25%;
}
