<h1 mat-dialog-title>Rename proposition</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Proposition name</mat-label>
        <input matInput [(ngModel)]="newName" />
        <button
            *ngIf="newName"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="newName = ''"
        >
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button color="primary" (click)="this.saveNameAndCloseDialog()">
        Save
    </button>
    <button mat-button color="primary" (click)="this.closeDialog()">
        Cancel
    </button>
</div>
